window#asr {
    margin-bottom: 120px;
    background-color: transparent;

    box {
        margin: 0 12em;
    }

    label {
        color: var(--rpt-base);
        text-shadow:
            -1px -1px 6px var(--rpt-text),
             1px -1px 6px var(--rpt-text),
            -1px  1px 6px var(--rpt-text),
             1px  1px 6px var(--rpt-text);
        font-size: 36px;
        font-family: 'LXGW WenKai';
    }
}
