window#asr {
    margin-bottom: 120px;
    background-color: transparent;

    box {
        margin: 0 12em;
    }

    label {
        color: var(--rpt-text);
        text-shadow:
            -2px -2px 0 var(--rpt-base),
             2px -2px 0 var(--rpt-base),
            -2px  2px 0 var(--rpt-base),
             2px  2px 0 var(--rpt-base);
        font-size: 48px;
        font-family: 'LXGW WenKai';
    }
}
