@use "sass:color";

$blur: 0.3;

$theme-prefer: "dawn";
$theme-colors: (
    "dawn": (
        "base_blur": color.adjust(#faf4ed, $alpha: -$blur),
        "surface_blur": color.adjust(#fffaf3, $alpha: -$blur),
        "overlay_blur": color.adjust(#f2e9e1, $alpha: -$blur),
        "base": #faf4ed,
        "surface": #fffaf3,
        "overlay": #f2e9e1,
        "muted": #9893a5,
        "subtle": #797593,
        "text": #575279,
        "love": #b4637a,
        "gold": #ea9d34,
        "rose": #d7827e,
        "pine": #286983,
        "foam": #56949f,
        "iris": #907aa9,
        "highlightLow": #f4ede8,
        "highlightMed": #dfdad9,
        "highlightHigh": #cecacd,
        "contrastWhite": #000000,
        "contrastBlack": #ffffff,
    ),
    "moon": (
        "base_blur": color.adjust(#232136, $alpha: -$blur),
        "surface_blur": color.adjust(#2a273f, $alpha: -$blur),
        "overlay_blur": color.adjust(#393552, $alpha: -$blur),
        "base": #232136,
        "surface": #2a273f,
        "overlay": #393552,
        "muted": #6e6a86,
        "subtle": #908caa,
        "text": #e0def4,
        "love": #eb6f92,
        "gold": #f6c177,
        "rose": #ea9a97,
        "pine": #3e8fb0,
        "foam": #9ccfd8,
        "iris": #c4a7e7,
        "highlightLow": #2a283e,
        "highlightMed": #44415a,
        "highlightHigh": #56526e,
        "contrastWhite": #ffffff,
        "contrastBlack": #000000,
    ),
);
